# dev | prod
NODE_ENV=dev

# DB config
DATABASE_URL="mysql://root:1234@localhost:3306/testDB"
# db ca 인증서 위치 (optional)
DB_SSL_CA_PATH=certs/ca.pem

ADMIN_EMAIL=admin@sample.com

# google cloud config
GOOGLE_CLIENT_ID=sersdf.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=DFSOEN...
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

# redis config
REDIS_HOST=localhost
REDIS_PORT=6379
# optional
REDIS_USERNAME=
REDIS_PASSWORD=


# jwt secrets
JWT_SECRET=secretKey
JWT_REFRESH_SECRET=secretRefreshKey
